<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}
    </title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.7 -->
        <link rel="stylesheet" href="{{ 'bundles/auth/bower/bootstrap/dist/css/bootstrap.min.css' }}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ 'bundles/auth/bower/font-awesome/css/font-awesome.min.css' }}">
        <!-- Ionicons -->
        <link rel="stylesheet" href="{{ 'bundles/auth/bower/Ionicons/css/ionicons.min.css' }}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{{ 'bundles/auth/bower/admin-lte/dist/css/AdminLTE.min.css' }}">
        <!-- iCheck -->
        <link rel="stylesheet" href="{{ 'bundles/auth/bower/admin-lte/plugins/iCheck/square/blue.css' }}">
        <!-- AdminLTE Skins. Choose a skin from the css/skins
        folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="bundles/auth/bower/skins/_all-skins.min.css">
    
</head>
<body class="skin-blue sidebar-mini">
    {% block body %}

    {% endblock %}


<!-- jQuery 3 -->
<script src="{{ 'bundles/auth/bower/jquery/dist/jquery.min.js' }}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{{ 'bundles/auth/bower/bootstrap/dist/js/bootstrap.min.js' }}"></script>
<!-- iCheck -->
<script src="{{ 'bundles/auth/bower/admin-lte/plugins/iCheck/icheck.min.js' }}"></script>    
</body>
</html>